

# TODO: Update paths
gluetun/data/**

homepage/config/logs/

# qbittorrent
qbittorrent/config/**

bazarr/config/** 
# bazarr/config/backup/
# bazarr/config/cache/
# bazarr/config/log/
# bazarr/config/restore/

prowlarr/config/**

radarr/config/**

sonarr/config/** 

jackett/config/** 

sabnzbd/config/**

overseerr/config/**

jellyseerr/config/**

jellyfin/.cache/**
jellyfin/config/**

lidarr/config/**


# Allow .gitignore
!**/.gitkeep
!.gitkeep

# !jackett/config/.gitkeep